<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="card">
      <%= image_tag photo.url, class: "card-img-top img-responsive text-center", alt: photo.caption %>
      <div class="card-block">
        <h4 class="card-title"><%= photo.caption %></h4>
        <a href="#" class="btn btn-danger">Like</a>
      </div>
    </div>
  </div>
</div>